<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>eCardify - Shops</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/public/assets/admin/img/favicon.png">

    <!-- Fontfamily -->
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/assets/admin/plugins/bootstrap/css/bootstrap.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="/public/assets/admin/plugins/feather/feather.css">

    <!-- Pe7 CSS -->
    <link rel="stylesheet" href="/public/assets/admin/plugins/icons/flags/flags.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/public/assets/admin/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/public/assets/admin/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/public/assets/admin/css/style.css">

</head>

<body>
    <div class="main-wrapper">

        <%- include('header.ejs') %>
        <!-- /Header -->

        <!-- Sidebar -->
        <%- include('sidebar.ejs') %>
            <!-- /Sidebar -->

            <!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">

                    <!-- Page Header -->
                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="page-title">Shops </h3>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/invitation1">Shops Info </a></li>
                                    <li class="breadcrumb-item active">Shops</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Page Header -->

                    <div class="row">
                        <div class="col-sm-12">
                            <form action="/shops-form" method="post" enctype="multipart/form-data">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="form-title"><span>Enter Shop Details</span></h5>
                                            </div>
                                            <div class="col-12 col-sm-4">
                                                <div class="form-group local-forms">
                                                    <label>Shop Name<span class="login-danger">*</span></label>
                                                    <input type="text" name="shopName" class="form-control"
                                                        placeholder="Enter Shop Name" required>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-4">
                                                <div class="form-group local-forms">
                                                    <label>Proprietor Name<span class="login-danger">*</span></label>
                                                    <input type="text" name="owner" class="form-control"
                                                        placeholder="Enter proprietor Name" required>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-4">
                                                <div class="form-group local-forms">
                                                    <label>Contact Number<span class="login-danger">*</span></label>
                                                    <input type="text" name="contactNo" class="form-control"
                                                        placeholder="Enter Contact Number" required>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-4">
                                                <div class="form-group local-forms">
                                                    <label>Email<span class="login-danger">*</span></label>
                                                    <input type="email" name="email" class="form-control"
                                                        placeholder="Enter your Email" required>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-4">
                                                <div class="form-group local-forms">
                                                    <label>Address<span class="login-danger">*</span></label>
                                                    <input type="text" name="address" class="form-control"
                                                        placeholder="Enter Shop Address" required>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-4">
                                                <div class="form-group local-forms">
                                                    <label>Your Website Link<span class="login-danger">*</span></label>
                                                    <input type="text" name="link" class="form-control"
                                                        placeholder="Enter Your Link" required>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-4">
                                                <div class="form-group local-forms">
                                                    <label>About<span class="login-danger">*</span></label>
                                                    <input type="text" name="about" class="form-control"
                                                        placeholder="About Your Shop" required>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-4">
                                                <div class="form-group local-forms">
                                                    <label>Timings<span class="login-danger">*</span></label>
                                                    <input type="text" name="timings" class="form-control"
                                                        placeholder="Enter Shop Timings" required>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-4">
                                                <div class="form-group local-forms">
                                                    <label>Quick Info<span class="login-danger">*</span></label>
                                                    <input type="text" name="quickInfo" class="form-control"
                                                        placeholder="Quick Info" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                        <h5 class="form-title"><span>Add Your Shop Images</span></h5>
                                        </div><div class="form-group">
                                            <label>Slider One:</label>
                                            <div class="slider-container" id="slider"></div>
                                            <button type="button" class="btn btn-primary add-slider"
                                                data-container="slider">Add Slider</button>
                                        </div>
                                        <div class="col-12 button-container">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>

                                    </div>


                                </div>


                            </form>
                        </div>
                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', () => {
                            const addSliderBtns = document.querySelectorAll('.add-slider');

                            addSliderBtns.forEach(addSliderBtn => {
                                addSliderBtn.addEventListener('click', () => {
                                    const containerId = addSliderBtn.getAttribute('data-container');
                                    const slidersContainer = document.getElementById(containerId);
                                    console.log(containerId);
                                    const sliderContainer = document.createElement('div');
                                    sliderContainer.className = 'form-group row';
                                    sliderContainer.innerHTML = `
                                    <div class="col-md-3">
                                        <label>Image:</label>
                                        <input type="file" class="form-control" name="sliderimages[]" accept="image/*" required>
                                    </div>
                                    <div class="col-md-1">
                                        <label>&nbsp;</label>
                                        <button type="button" class="btn btn-danger delete-slider">Delete</button>
                                    </div>
                                `;
                                    slidersContainer.appendChild(sliderContainer);

                                    const deleteSliderBtns = slidersContainer.querySelectorAll('.delete-slider');
                                    deleteSliderBtns.forEach(deleteBtn => {
                                        deleteBtn.addEventListener('click', () => {
                                            sliderContainer.remove();
                                        });
                                    });
                                });
                            });
                        });
                    </script>
                </div>
            </div>
    </div>

    <!-- jQuery -->
    <script src="/public/assets/admin/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/public/assets/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Feather Icon JS -->
    <script src="/public/assets/admin/js/feather.min.js"></script>

    <!-- Slimscroll JS -->
    <script src="/public/assets/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Select2 JS -->
    <script src="/public/assets/admin/plugins/select2/js/select2.min.js"></script>

    <!-- Datepicker Core JS -->
    <script src="/public/assets/admin/plugins/moment/moment.min.js"></script>
    <script src="/public/assets/admin/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Custom JS -->
    <script src="/public/assets/admin/js/script.js"></script>
</body>

</html>