<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Folder Upload</title>
</head>
<body>
  <h1>Image Folder Upload</h1>
  <form action="/bulk-upload" method ="post" enctype="multipart/form-data">
    <input type="file" name="zipFiles" accept=".zip" required>
    <input type="submit">Upload Folder</button>
  </form>
</body>
</html>