<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Employee Information</title>
    <link rel="shortcut icon" href="/public/assets/admin/img/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/admin/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/admin/plugins/feather/feather.css">
    <link rel="stylesheet" href="/public/assets/admin/plugins/icons/flags/flags.css">
    <link rel="stylesheet" href="/public/assets/admin/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/public/assets/admin/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/public/assets/admin/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/public/assets/admin/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/public/assets/admin/css/style.css">
</head>

<body>
    <div class="main-wrapper">
        <!-- Header -->
        <%- include('header.ejs') -%>
        <!-- /Header -->
        <!-- Sidebar -->
        <%- include('sidebar.ejs') -%>

        <div class="page-wrapper">
            <div class="content container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card comman-shadow">
                    <div class="card-body">
                      <form action="/company" method="post">
                        <div class="row">
                          <div class="col-12">
                            <h5 class="form-title student-info">Employee Information</h5>
                          </div>
                          <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Select Company</label>
                            <div class="col-lg-9">
                              <select class="form-control select" name="company_id" id="company_id">
                                <% companies.forEach(company => { %>
                                  <option value="<%= company %>"><%= company.name %></option>
                                <% }) %>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div id="form-fields" class="row"></div>
                        <div class="text-end">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </form>
                      <div class="mt-4">
                        <h5>Employee Information Table</h5>
                        <table class="table" id="employeeTable">
                            <thead>
                                <tr>
                                    <!-- Table headers will be dynamically added here -->
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Data rows will be dynamically added here -->
                            </tbody>
                        </table>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </body>

    <script>
        // Function to dynamically update the table based on selected company
        function updateTableFields(fields) {
            const tableHeaders = document.getElementById('employeeTable').getElementsByTagName('thead')[0].getElementsByTagName('tr')[0];
            const tableBody = document.getElementById('employeeTable').getElementsByTagName('tbody')[0];
    
            // Clear existing headers and data
            tableHeaders.innerHTML = '';
            tableBody.innerHTML = '';
    
            // Add headers to the table
            fields.forEach(field => {
                const th = document.createElement('th');
                th.textContent = field.name;
                tableHeaders.appendChild(th);
            });
        }
    
        // Event listener for the dropdown change
        document.getElementById('company_id').addEventListener('change', function () {
            const selectedCompanyId = this.value;
    
            // Make an API call to fetch the fields based on the selected company
            fetch(`/api/getFields?company_id=${selectedCompanyId}`)
                .then(response => response.json())
                .then(data => {
                    // Call the function to update the table with the fetched fields
                    updateTableFields(data.fields);
                })
                .catch(error => {
                    console.error('Error fetching fields:', error);
                });
        });
    </script>
</html>
    </div>
    <script src="/public/assets/admin/js/jquery-3.6.0.min.js"></script>
    <script src="/public/assets/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public/assets/admin/js/feather.min.js"></script>
    <script src="/public/assets/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/public/assets/admin/plugins/select2/js/select2.min.js"></script>
    <script src="/public/assets/admin/plugins/moment/moment.min.js"></script>
    <script src="/public/assets/admin/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/public/assets/admin/js/script.js"></script>
</body>
</html>