<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .navbar {
      background-color: #3e408d;
      overflow: hidden;
      position: relative;
      padding: 10px;
    }

    .navbar .navbar-center {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      font-size: 20px;
    }

    .container1 {
      display: flex;
      align-items: center;
    }

    .container1 p {
      padding-left: 50px;
      font-size: large;
    }

    .container1 button {
      padding: 3px 15px 3px 15px;
      border-radius: 12px;
      background-color: rgb(55, 34, 177);
      border: none;
      color: white;
    }

    button.close-btn {
      background-color: #120c5c;
      border-radius: 50%;
      float: right;
      border: none;
      color: white;
    }

    .hotel-container {
      display: flex;
    }

    .left-container {
      width: 25%;
      background-color: #f0f0f0;
      padding: 20px;
      height: 100ph;
    }

    .right-container {
      width: 75%;
      position: relative;
      background-color: aqua;
      height: 320px;
    }

    .hotel-name {
      color: #333;
      margin-left: 30px;
    }
    .hotel-name button {
      padding: 3px 10px 3px 10px;
      border-radius: 12px;
      background-color: rgb(55, 34, 177);
      border: none;
      color: white;
    }


    .rating {
      color: gold;
      font-size: 18px;
      margin-left: 30px;
      margin-top: 50px;
    }

    .slideshow-container {
      overflow: hidden; 
    }

    .mySlides {
      height: 320px;
    }

    .numbertext {
      color: #fff;
      font-size: 20px;
      padding: 8px 12px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  </style>
</head>
<body>

  <div class="navbar">
    <div class="navbar-center">Get Your's Today @eCardify</div>
    <button class="close-btn">x</button>
  </div>

  <div class="container1">
    <p><b>eCardify.</b></p>
    <button>shops</button>
  </div>

  <div class="hotel-container">
    <div class="left-container">
      <div class="hotel-name">
        <button>&#9733 verified</button>
        <h1>Shop Name</h1>
        Address

      </div>
 
     <div class="rating">&#9733;&#9733;&#9733;&#9733;</div>

     <button style="margin-left: 30px;">+ Contact Store</button>
     <button style="margin-left: 30px;">&#9635;Share</button><br>
     <button style="margin-left: 30px;">Locate on Maps</button>
    </div>

    <div class="right-container">
      <div class="slideshow-container">
        <div class="mySlides">
          <img src="https://imgs.search.brave.com/olaCUjmfeL9yO5eEd64OKsA-PHxLyYQ-fB3YetxfBuU/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9o/b3RlbC1lbnRyYW5j/ZV8xMTAxLTg0Ny5q/cGc_c2l6ZT02MjYm/ZXh0PWpwZw">
        </div>

        <div class="mySlides">
          <img src="https://imgs.search.brave.com/hAResyjnjfJxPJBeoYxRimQ_1Po8GkD3HHk58VOppz4/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9wbHVz/LnVuc3BsYXNoLmNv/bS9wcmVtaXVtX3Bo/b3RvLTE2NjE5NjI0/OTU2NjktZDcyNDI0/NjI2YmRjP3E9ODAm/dz0xMDAwJmF1dG89/Zm9ybWF0JmZpdD1j/cm9wJml4bGliPXJi/LTQuMC4zJml4aWQ9/TTN3eE1qQTNmREI4/TUh4elpXRnlZMmg4/T1h4OGJIVjRkWEo1/SlRJd2FHOTBaV3g4/Wlc1OE1IeDhNSHg4/ZkRBPQ.jpeg" >
        </div>

        <div class="mySlides">
          <img src="https://imgs.search.brave.com/N9ggYTG9FwtfdBIOFxtYykn94evjGCt2ncGh3nUUKv4/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9wbHVz/LnVuc3BsYXNoLmNv/bS9wcmVtaXVtX3Bo/b3RvLTE2NjE5MDI3/NDU2NzUtMTE4NDZl/NGY5YTQxP3E9ODAm/dz0xMDAwJmF1dG89/Zm9ybWF0JmZpdD1j/cm9wJml4bGliPXJi/LTQuMC4zJml4aWQ9/TTN3eE1qQTNmREI4/TUh4elpXRnlZMmg4/TVh4OGJIVjRkWEo1/SlRJd2FHOTBaV3g4/Wlc1OE1IeDhNSHg4/ZkRBPQ.jpeg">
        </div>

        <div class="numbertext">1 / 3</div>
      </div>
    </div>
  </div>
  <div style="text-align: center;">
<h4>Details</h4>
  </div>
  <script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) {
        slideIndex = 1;
      }
      slides[slideIndex - 1].style.display = "block";
      document.querySelector('.numbertext').textContent = slideIndex + ' / ' + slides.length;
      setTimeout(showSlides, 2000); 
    }
  </script>